body {
  font-family: 'Poppins', sans-serif;
  background: #f4f6f8;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0;
}

.container {
  background: white;
  padding: 2rem;
  border-radius: 20px;
  box-shadow: 0 4px 15px rgba(0,0,0,0.1);
  text-align: center;
  width: 90%;
  max-width: 420px;
}

.center {
  display: flex;
  flex-direction: column;
  align-items: center;
}

h1, h2 {
  color: #b08d5d;
  margin-bottom: 1rem;
}

input, textarea {
  width: 100%;
  padding: 10px;
  margin: 8px 0;
  border: 1px solid #b6a507;
  border-radius: 8px;
}

button {
  background: #b08d5d;
  color: rgb(242, 242, 197);
  border: none;
  padding: 10px 20px;
  border-radius: 8px;
  cursor: pointer;
  transition: 0.3s;
}

button:hover {
  background: #b08d5d;
}

table {
  width: 100%;
  border-collapse: collapse;
  margin-top: 1rem;
}

th, td {
  border: 1px solid #ddd;
  padding: 8px;
}

th {
  background: #b08d5d;
  color: white;
}
